@import url("file:///home/njen/.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 0px;
  font-family: "PitagonSansM Nerd Font Propo", "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  color: @color7;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: inset 0 -2px @color0;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty {
  background-color: @transparent;
  box-shadow: inset 0 -2px @transparent;
}

window#waybar.solo {
  background-color: @background;
  box-shadow: inset 0 -2px @background;
}

/* #workspaces button:first-child { */
/*   border-radius: 20px 0 0 20px; */
/* } */

/* #workspaces button:last-child { */
/*   border-top-right-radius: 20px; */
/*   border-bottom-right-radius: 20px; */
/* } */

#workspaces button {
  /* background: rgba(255, 255, 255, 0.05); */
  /* background: @color0; */
  /* box-shadow: inset 0 -2px @color0; */
  padding: 0 0.5rem;
  /* color: @color7; */
  /* border-radius: 20px; */
}

#window {
}

#workspaces {
  /* background: @color0; */
  background: @color0;
  border-radius: 0px;
  box-shadow: inset 0 -2px @color0;
}

#workspaces button.active {
  /* background: shade(@color1, 1.5); */
  background: @color0;
  color: @color1;
  box-shadow: inset 0 -2px @color0;
}

#workspaces button.focused {
  /* background: @color0; */
  background: rgba(255, 255, 255, 0.2);
  color: @color7;
  box-shadow: inset 0 -2px @color1;
}

#workspaces button.urgent {
  background-color: @color0;
  box-shadow: inset 0 -2px @color0;
}

#mode {
  background-color: #64727d;
  /* border-bottom: 0.1rem solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-updater,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#mpd {
  background-color: @color0;
  padding: 0 0.5rem;
  margin: 0px 0px;
  color: @color7;
  box-shadow: inset 0 -2px @color0;
  /* margin: 0 0.5rem; */
}

#custom-spacer {
  background-color: @transparent;
  padding: 0 0px;
  color: rgba(255, 255, 255, 0);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#clock {
  color: @color7;
  /* border-radius: 0px 20px 20px 0px; */
  border-radius: 0px 0px 0px 0px;
  margin-right: 0px;
}

@keyframes blink {
  to {
    background-color: @color0;
    color: @color1;
  }
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @color0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: @color7;
}

#memory,
#battery {
  color: @color7;
}

#disk {
  background-color: @color0;
  color: white;
}

#backlight {
  background-color: @color0;
  color: white;
}

#network {
  background-color: @color0;
  color: white;
  /* border-radius: 20px 0px 0px 20px; */
}

#network.disconnected {
  background-color: @color0;
  color: red;
}

#pulseaudio {
  background-color: @color0;
  color: white;
}

#pulseaudio.muted {
  background-color: @color0;
  color: red;
}

#custom-weather {
  color: @color7;
}

#custom-launcher {
  background-color: @color0;
  font-size: 18px;
  border-radius: 20px;
}

#custom-updater {
  background-color: @color0;
  color: white;
}

#tray {
  background-color: @color0;
  color: white;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  background-color: @color0;
  color: white;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color0;
  color: white;
}

#idle_inhibitor {
  background-color: @color0;
  border-radius: 20px 0px 0px 20px;
}

#idle_inhibitor.activated {
  background-color: @color0;
  color: white;
  border-radius: 20px 0px 0px 20px;
}
