[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[user]
name = Nick Jensen
email = nickflip86@gmail.com
	signingkey = 716A5FDC5E91C75E18F9396CDDFE41E74680C4CD

[color]
ui = true

[alias]
st = status -sb
co = checkout
c = commit --short
ci = commit --short
p = push
l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short

[core]
pager = delta

[interactive]
diffFilter = delta --color-only

[credential]
helper = store

[gpg]
program = C:\\Git\\usr\\bin\\gpg.exe

[safe]
directory = C:/repos/dots
directory = C:/repos/dotfiles
directory = C:/repos/nvim

[pull]
rebase = true
[github]
user = 5nik7
[init]
defaultBranch = main
[commit]
	gpgsign = true
[rebase]
autoStash = true
[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
