@import "machiatto.css";

* {
  border-radius: 0;
  border: 0;
  padding-top: 0px;
  margin-bottom: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10pt;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: @surface0;
}

#workspaces button {
  padding: 0px 10px;
  color: #cfc9c2;
  background-color: transparent;
}

#workspaces button.focused {
  box-shadow: 2px 2px 2px black;
  color: #24283b;
  background-color: @blue;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: #24283b;
  background-color: #7bc275;
  border-radius: 0px;
}

#workspaces button:hover {
  background-color: #5cefff;
  color: #24283b;
  border-radius: 0px;
}

#clock,
#battery,
#custom-weather,
#pulseaudio,
#language,
#tray,
#idle_inhibitor,
#backlight {
  background-color: transparent;
  padding: 0px 0px;
  margin: 0px 0px;
}

#window {
  color: @mauve;
  padding: 0px 10px 0px 10px;
  margin-left: 5px;
  border-radius: 0px 0px 0px 0px;
}

#workspaces {
  margin-left: 10px;
  border-radius: 15px 0px 0px 15px;
}

#clock {
  color: #e0af68;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
  padding-right: 10px;
}
